* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form {
  padding: 15px;
}

.form-item {
  display: inline-block;
  /* vertical-align: top; */
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 5px 15px;
}

.form-label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 0;
  line-height: 40px;
  transition: .3s;
}

.form-input:focus~.form-label,
.form-input:not(:focus):valid~.form-label {
  top: -30px;
  font-size: 16px;
}