input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fee580 inset !important; }

@-webkit-keyframes sheen {
  0% {
    -webkit-transform: translateX(0) skewY(-45deg);
    transform: translateX(0) skewY(-45deg); }
  20% {
    -webkit-transform: translateX(20.5em) skewY(-45deg);
    transform: translateX(20.5em) skewY(-45deg); }
  100% {
    -webkit-transform: translateX(20.5em) skewY(-45deg);
    transform: translateX(20.5em) skewY(-45deg); } }

@keyframes sheen {
  0% {
    -webkit-transform: translateX(0) skewY(-45deg);
    transform: translateX(0) skewY(-45deg); }
  20% {
    -webkit-transform: translateX(20.5em) skewY(-45deg);
    transform: translateX(20.5em) skewY(-45deg); }
  100% {
    -webkit-transform: translateX(20.5em) skewY(-45deg);
    transform: translateX(20.5em) skewY(-45deg); } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

body {
  background-color: #f6f7fa;
  color: #000;
  font-family: "Akrobat-Regular";
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
  min-width: 320px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000; }

img {
  max-width: 100%; }

button, input {
  outline: none; }

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }

.social {
  position: absolute;
  top: 25px;
  right: 0px; }
  .social li {
    margin: 0 18px; }
  .social img {
    width: 35px; }

.header-wrapper {
  max-width: 880px;
  margin: 0 auto; }

.name-logo {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px; }

.logo {
  width: 60px;
  height: 60px;
  background: url(../img/png/logo.png) no-repeat center;
  -webkit-background-size: 60px 60px;
  background-size: 60px 60px;
  display: block;
  margin-right: 30px; }

.name {
  font-family: 'CharlatanDEMO', san-sefif;
  font-size: 70px;
  font-weight: normal;
  margin: 0; }

.nav {
  font-size: 30px;
  font-weight: normal;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: -10px; }
  .nav li {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .nav li a {
      text-align: center;
      padding: 10px 15px;
      line-height: 0.9;
      border-radius: 25px; }
      .nav li a:hover {
        background-color: #f01741;
        border-radius: 0px; }

.slick-prev,
.slick-next {
  width: 66px;
  height: 66px;
  position: absolute;
  top: 50%;
  z-index: 100;
  font-size: 0;
  border: none;
  background-color: transparent;
  opacity: 0.2;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .slick-prev:hover,
  .slick-next:hover {
    opacity: .8; }

.slick-next {
  right: 7px;
  background: url(../img/png/right-arrow.png) no-repeat center;
  -webkit-background-size: 66px 66px;
  background-size: 66px 66px; }

.slick-prev {
  left: 7px;
  background: url(../img/png/left-arrow.png) no-repeat center;
  -webkit-background-size: 66px 66px;
  background-size: 66px 66px; }

.slick-dots {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    margin: 0 10px;
    font-size: 0;
    border: none;
    width: 25px;
    height: 25px;
    background: #f0ca17;
    border-radius: 50%;
    vertical-align: middle;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s; }
    .slick-dots li button {
      background: transparent;
      border: none; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
  .slick-dots .slick-active {
    height: 32px;
    width: 32px;
    background: #f01741;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s; }

.services {
  position: relative;
  margin: 120px 0px 80px 0px; }
  .services div {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .services img {
    width: 50%;
    padding: 100px 0px; }

.recipes {
  background-color: #ff9832; }

.make-offer {
  background-color: #fdcb00; }

.order-online {
  background-color: #ff103f; }

.services-name {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #fff;
  padding: 30px 25px;
  font-size: 30px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  max-width: 100%;
  text-align: center; }
  .services-name:hover {
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0, 0, 0, 0.91);
    box-shadow: 0px 25px 35px -17px rgba(0, 0, 0, 0.91);
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%); }

.main {
  margin-bottom: 50px; }

.recipes-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.recipe {
  margin-bottom: 60px;
  position: relative; }
  .recipe:before {
    content: "";
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    display: block;
    background-image: url(../img/png/food.png);
    position: absolute;
    top: 0px;
    left: 100px;
    -webkit-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    transform: rotate(-35deg);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .recipe:hover:before {
    top: -37px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .recipe:hover {
    -webkit-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.28);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.28);
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px); }

.recipe_img {
  min-width: 400px;
  border: 0px; }

.recipe_content {
  padding: 30px 40px 0px 30px;
  position: relative;
  background-color: #fff;
  max-height: 500px; }

.recipe_title {
  font-size: 30px;
  margin: 0px 0px 10px 0px;
  white-space: nowrap; }

.recipe_date {
  font-size: 24px; }

.recipe_text {
  font-size: 18px;
  margin-bottom: 0px;
  height: 70%;
  overflow: hidden;
  line-height: 1.25; }

.like-comment {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.recipe_foto {
  overflow: hidden;
  max-height: 500px; }

.like {
  position: relative;
  margin-right: 90px;
  display: inline-block; }
  .like:before {
    content: "";
    -webkit-background-size: 25px 22px;
    background-size: 25px 22px;
    width: 25px;
    height: 22px;
    display: block;
    background-image: url(../img/png/like.png);
    position: absolute;
    bottom: 0px;
    left: -32px; }

.coment {
  position: relative; }
  .coment:before {
    content: "";
    -webkit-background-size: 28px 28px;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
    display: block;
    background-image: url(../img/png/chat.png);
    position: absolute;
    bottom: -4px;
    left: -34px; }

.make-order_foto {
  position: relative;
  overflow: hidden; }
  .make-order_foto img {
    min-width: 400px; }
  .make-order_foto p {
    position: absolute;
    left: 50%;
    top: 23%;
    width: 80%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-size: 24px;
    font-weight: 700; }

.make-order_contacts {
  padding: 30px 35px;
  text-align: center;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .make-order_contacts h2 {
    font-size: 24px;
    text-align: left; }
  .make-order_contacts form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 70%; }
    .make-order_contacts form input {
      width: 100%;
      height: 1.8em;
      background-color: #fee580;
      border: 1px solid #c6c6c6;
      padding-left: 20px;
      font-size: 24px; }
      .make-order_contacts form input::-webkit-input-placeholder {
        text-indent: 0px;
        -webkit-transition: text-indent 500ms;
        -o-transition: text-indent 500ms;
        transition: text-indent 500ms;
        color: #000; }
      .make-order_contacts form input:placeholder {
        text-indent: 0px;
        -webkit-transition: text-indent 500ms;
        -o-transition: text-indent 500ms;
        transition: text-indent 500ms;
        color: #000; }
      .make-order_contacts form input::-moz-placeholder {
        text-indent: 0px;
        -webkit-transition: text-indent 500ms;
        -o-transition: text-indent 500ms;
        transition: text-indent 500ms;
        color: #000; }
      .make-order_contacts form input:-ms-input-placeholder {
        text-indent: 0px;
        -webkit-transition: text-indent 500ms;
        -o-transition: text-indent 500ms;
        transition: text-indent 500ms;
        color: #000; }
      .make-order_contacts form input:focus::-webkit-input-placeholder {
        text-indent: 500px;
        color: #000; }
      .make-order_contacts form input:focus:placeholder {
        text-indent: 500px;
        color: #000; }
      .make-order_contacts form input:focus::-moz-placeholder {
        text-indent: 500px;
        color: #000; }
      .make-order_contacts form input:focus:-ms-input-placeholder {
        text-indent: 500px;
        color: #000; }
    .make-order_contacts form button {
      background-color: #f01741; }
      .make-order_contacts form button:before {
        content: "";
        background-color: rgba(255, 255, 255, 0.5);
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        -webkit-transform: skewX(-45deg) translateX(0);
        -ms-transform: skewX(-45deg) translateX(0);
        transform: skewX(-45deg) translateX(0);
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        -webkit-animation: 6s infinite sheen;
        animation: 6s infinite sheen;
        -webkit-filter: blur(15px);
        filter: blur(15px); }

.button {
  width: 100%;
  font-size: 30px;
  text-align: center;
  border: none;
  padding: .2em 0;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .button:hover {
    -webkit-box-shadow: 3px 3px 8px -3px black;
    box-shadow: 3px 3px 8px -3px black;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }

.top-recipe_wrapper h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400; }

.top-recipe {
  margin-bottom: 25px; }
  .top-recipe_img img {
    width: 100%; }
  .top-recipe_title {
    padding-left: 50px;
    padding-top: 20px; }
