.saving
    height: 100vh
    background: url(../img/saving.png) no-repeat
    background-size: cover
    background-position: center top
    
    &_btn
        background: $green
        border: none
        color: $white
        padding: 1.5em 3.5em

        &_wrapper
            text-align: center
            padding-top: 100px
    &_title
        text-align: left
        font-family: $second-font
        color: $yellow
        line-height: 48px
        font-size: 36px
        
        &::parent
            padding-right: 30px !important
            background: red


        span
            text-transform: uppercase
            color: $yellow-dark