@import "../../node_modules/@fortawesome/fontawesome-free/css/all"
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid"
@import "../../node_modules/normalize.css/normalize"


.header
    height: 100vh
    background: url(../img/header_bg.png) no-repeat
    background-position: center bottom
