@import "../../node_modules/@fortawesome/fontawesome-free/css/all"
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid"
@import "../../node_modules/normalize.css/normalize"



@import "vars"
@import "hamburger"
@import "header"
@import "product"
@import "steps"
@import "footer"
@import "media"


body
    font-family: $font
    overflow-x: hidden

a
    text-decoration: none

button, input
    outline: none

li
    list-style: none
    padding: 0
    margin: 0
    
ul
    padding: 0
    margin: 0

.h-line
    &:before
        content: ''
        height: 0.1em
        width: 0
        position: absolute
        bottom: 0
        right: 0
        background-color: $white
        transition: all 0.3s
    &:hover:before
        width: 100%
        left: 0