


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #666666;
	font-size: 14px;
	text-decoration: none;
    font-weight: 300;
}



button:active {
    transform: scale(0.95);
    transition: .3s;
}

button:focus {
	outline: none;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked){
	position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 18px;
	cursor: pointer;
	font-size: 14px;
	color: #666;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
	top: 0px;
	border-radius: 100%;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after
 {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 4px;
    top: 0px;
    width: 15px;
    height: 8px;
    border-radius: 1px;
    border-left: 2px solid #45A309;
    border-bottom: 2px solid #45A309;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}
input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.checkbox{
	margin-top: 15px;
}
.btn{
    border-radius: 3em;
    font-family: 'SF UI Display', sans-serif ;
    font-weight: bold;
    font-size: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #fff;
    transition: .3s;
}
.overlay-right button{
    background: transparent;
    border: 2px solid #fff;
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.sign-in-container button{
    background: linear-gradient(67.58deg, #479F11 10.94%, #69BE13 104.08%);
    border: none;
    padding-left: 4em;
    padding-right: 4em;
    margin-top: 30px;
}

.overlay-left h1{
    padding-bottom: 30px;
}
.overlay-left button{
    background: transparent;
    border: 2px solid #fff;
    padding-left: 4em;
    padding-right: 4em;
}
.sign-up-container button{
    background: linear-gradient(67.58deg, #479F11 10.94%, #69BE13 104.08%);
    border: none;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 25px;
}

.sign-up-container h1{
    padding-bottom: 20px;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #E1E0E0;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.sing-in{
    padding-top: 50px;
    padding-bottom: 100px;
}


.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}
.sign-in-container h1{
    padding-bottom: 30px;
}
.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	
    background: linear-gradient(37.8deg, #FF6523 25.84%, #FFB423 109.1%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}


