.application
    background: url(../img/application-bg.jpg) no-repeat center bottom
    min-height: 1026px
    padding-top: 250px
    overflow: hidden
  
    h2
        margin-top: 0px
    p
        font-size: 20px
        line-height: 44px
    &_img
        img
            position: absolute
            top: -270px
            left: -170px