
.header
    background:  url(../img/header_bg.jpg) no-repeat
    background-position: center top
    background-size: cover
    padding-bottom: 50px
    background-color: #FDB334
    position: relative

    .logo
        width: 95px
        height: 79px
        background: url(../img/logo.png)
        display: inline-block
        margin-right: 25px
       
        margin-top: 15px

    .tel-icon
        position: absolute
        z-index: 2
        left: 14px
        top: 7px

    .tel-wrapper
        position: relative
        z-index: 1
        display: inline-block

    .tel
        display: inline-block
        font-size: 17px
        font-weight: 600
        position: relative
        background: linear-gradient(76.17deg, #C90D0D 21.38%, #FB472F 97.04%)
        padding: .5em 1em .5em 2.5em
        border-radius: 25px
        color: $white
        

    .top-info
        padding-top: 15px
        a
            color: $white
            transition: .3s

    .nav
        margin-top: 25px

        li
            display: inline-block

        &-wrapper
            position: relative
            z-index: 9
            display: none
        
        &-item
            padding: .5em 1em
            position: relative
            z-index: 1
            font-size: 16px
            font-weight: bold

            &:hover
                color: $green
                transition: .3s

            &:before
                content: ""
                display: block
                position: absolute
                background-color: $white
                width: 0%
                height: 100%
                top: 0
                right: 0
                transition: 0.3s
                z-index: -1

            &:hover:before
                top: 0
                left: 0
                width: 100%
                position: absolute;
                content: ''
                height: 100%
                transition: .3s
                z-index: -1
                display: block

            &:after
                content: ""
                display: block
                position: absolute
                background-color: $green
                width: 0%
                height: 4px
                bottom: 0
                right: auto
                left: 0
                transition: 0.3s
                z-index: -1

            &:hover:after
                bottom: 0
                left: auto
                right: 0
                width: 100%
                position: absolute;
                content: ''
                transition: .3s
                z-index: -1
                display: block

    .header-icon
        position: absolute
        top: 0px
        right: 0px
        

        .social-icon
            margin-top: 10px
            a
                width: 30px
                height: 30px
                border: 2px solid $white
                border-radius: 100%
                position: relative
                margin: 0px 3px
                transition: .3s
                &:hover
                    background: $white
                    transition: .3s
                &:hover svg
                    color: $yellow-dark
                    transition: .3s
                svg
                    height: 15px
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%)
                    color: $white
                    transition: .3s
     
        .reg-enter
            display: none
            margin-left: 50px
            margin-right: 20px
            
                
            a
                width: 40px
                height: 42px
                display: inline-block
                border-radius: 0px 0px 20px 20px
                position: relative

                &:nth-child(1)
                    background: $reg-color
                &:nth-child(2)
                    background: $enter-color
                    margin-left: 15px

                svg
                    width: 30px
                    position: absolute
                    left: 50%
                    top: 50%
                    transform: translate(-50%,-50%)

        .reg-enter.logged
            display: block

    .header-content-wrapper
        padding-bottom: 160px
        padding-top: 120px
    .burger-btn
        cursor: pointer
    .mob-nav.active:before
        width: 100vw
        transition: .8s ease-out
    .mob-nav
        padding: 8em 0 0 2em
        position: fixed
        left: 0px
        top: 0px
        height: 100%
        background: $white
        z-index: 1001
        width: 320px
        box-shadow: 7px 0px 12px 0px rgba(0,0,0,0.5)
        transform: translateX(-120%)
        transition: .6s ease-out
        &:before
            content: ''
            position: absolute
            
            top: 0
            left: 100%
            width: 0vw
            height: 100%
            background: rgba(0,0,0,0.5)
            transition: .8s ease-out
            


        &.active
            transform: translateX(0%)
            transition: .6s ease-out

       

        a
            color: $black
            font-weight: 600
            font-size: 20px
            padding: .5em
            display: inline-block
            position: relative
            margin-bottom: 15px
        
        .close-nav
            position: absolute
            top: 20px
            right: 20px



    &-img
        position: relative

        .desktop-img
            display: none
            position: absolute
            top: 0px
            left: 0px
            width: 100%
            transform: scale(1.4)
        .tablet-img
            position: absolute
            width: 100%
            top: 120px
            left: -35px
            transform: scale(1.7)


    .tagline
        font-size: 50px
        font-family: $second-font
        margin: 20px 0px
        font-weight: normal
        white-space: nowrap

    .description
        font-size: 18px
        color: $black
        line-height: 29px
        font-weight: 300
        margin-bottom: 30px
        padding-right: 50px

    .bot-block
        position: relative
        background: $white
        border-radius: 20px
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1)
        padding: 0.7em

        &_description
            text-align: center
            font-family: $second-font
            font-size: 25px
            line-height: 45px
            font-weight: bold

            span
                color: $orange
                text-transform: uppercase

                &:nth-child(4)
                    color: $black

                &:nth-child(2)
                    white-space: nowrap

    

  