.how-it-works
    background: url(../img/how-it-works_bg.jpg) no-repeat
    background-size: cover
    padding-top: 100px
    background-position: center 
    z-index: 10

    
    
    &_item
        padding-left: 90px !important
        padding-bottom: 70px
        position: relative
        z-index: 20
        &::before
            position: absolute
            font-family: $second-font
            font-size: 110px
            color: $white
            font-weight: bold
            z-index: -10
            top: -70px
            left: 50px
        &:nth-child(1):before
            content: "1"
        &:nth-child(2):before
            content: "2"
        &:nth-child(3):before
            content: "3"
        &:nth-child(4):before
            content: "4"
        &:nth-child(5):before
            content: "5"
        &:nth-child(6):before
            content: "6"

        &_title
            font-size: 30px
            line-height: 32px
            font-weight: 600
            
        &_description
            font-size: 20px
            line-height: 32px
            font-weight: 300

    
