
@media (max-width: 576px)

    .nav
        margin-left: -60px
    .cashback-description
        font-size: 24px
        line-height: 35px

    .enter
        right: 1%

    .toggle-hamburger
        margin-left: 10px
    
    .popular-sellers
        background-image: none

        &_title
            font-size: 38px
            text-align: center

    .how-it-works
        padding-top: 20px

        &_title
            font-size: 42px
            padding-left: 1em

        &_item
            padding-left: 50px !important

            &_title
                font-size: 26px

    .calc
        width: 290px !important
        height: 465px !important

        &_amount
            left: 120px !important
            top: 224px !important
            font-size: 32px
            padding-left: 5px
            height: 50px !important

        &_btn
            top: 332px !important
            left: 76px !important
            font-size: 13px

        &_cashback
            width: 44% !important
            left: 47% !important
            font-size: 32px !important
            padding-left: 0px !important

    .saving_btn

        &_wrapper
            padding-top: 20px

    .what-is-it

        &_title
            font-size: 48px
            text-align: center

// @media (max-width: 768px)

@media (max-width: 992px)

    .popular-sellers

        &_title
            text-align: center

    .how-it-works

        &_title
            padding-left: 0px
            text-align: center

    .what-is-it

        &_title
            text-align: center

        &_description
            text-align: center
            padding-left: 0px
            
    .nav
        margin-top: 50px

        li
            display: block
            margin-bottom: 2em
            
            a
                font-size: 18px
                text-shadow: 2px 2px 4px rgba(0,0,0,0.6)

                &:hover
                    text-shadow: none

    .header
        
        background-position: right
        

    .header-info
        text-align: center

        &-wrapper
            margin-bottom: 100px

    .tel
        display: none
    
    .ellips-1,.ellips-2
        display: none

    .toggle-hamburger
        margin-top: 24px

    .social
        flex-direction: column
        right: 1%
        top: 80px

        a
            margin-bottom: 5px

    .description
        padding-right: 0px

    .calc
        position: relative
        width: 320px
        margin: 0 auto
        left: 0
        top: 0
        background:  url(../img/chek-mob.jpg) no-repeat
        background-size: cover
        background-position: center
        height: 485px
        box-shadow: 0px 6px 18px rgba(0,0,0,0.25)

        &_amount
            top: 230px
            left: 140px
            width: 45%
            padding-left: 5px !important

        &_btn
            top: 345px
            left: 80px

        &_cashback
            width: 40%
            position: absolute
            top: 87%
            left: 53%
            height: 44px
            color: #CBCBCB
            border: 2px solid #CBCBCB
            background: $white
            text-align: center
            font-size: 34px
            overflow: hidden
            padding-left: .3em

    .saving

        &_text
            margin-top: 100px
            margin-bottom: 70px
        
        &_title
            text-align: center

        &_advice
            text-align: center

        &_btn

            &_wrapper
                padding-top: 40px

    .mob-center
        text-align: center !important
        padding-left: 0px !important
        padding-right: 0px !important
    
@media (max-width: 1200px)
    .header
        .header-img
            img
                top: 110px
                left: -24px
                transform: scale(1.7)

