
@media (max-width: 576px)


    .header

        .nav
            margin-left: -60px
        .cashback-description
            font-size: 24px
            line-height: 35px


    .how-it-works
        padding-top: 20px

        &_title
            font-size: 42px
            padding-left: 1em

        &_item
            padding-left: 50px !important

            &_title
                font-size: 26px
    

    .saving

        .calc
            width: 290px !important
            height: 465px !important

            &_amount
                left: 120px !important
                top: 224px !important
                font-size: 32px
                padding-left: 5px
                height: 50px !important

            &_btn
                top: 332px !important
                left: 76px !important
                font-size: 13px

            &_cashback
                width: 44% !important
                left: 47% !important
                font-size: 32px !important
                padding-left: 0px !important

        .saving_btn

            &_wrapper
                padding-top: 20px

  

// @media (max-width: 768px)

@media (max-width: 992px)

    .mob-center
        text-align: center !important
        padding-left: 0px !important
        padding-right: 0px !important


    .header
        
        background-position: right
        

        .header-info
            text-align: center

            &-wrapper
                margin-bottom: 100px

      
    

    

    .saving

        &_text
            margin-top: 100px
             margin-bottom: 70px
            
        &_title
            text-align: center

        &_advice
            text-align: center


        .calc
            position: relative
            width: 320px
            margin: 0 auto
            left: 0
            top: 0
            background:  url(../img/chek-mob.jpg) no-repeat
            background-size: cover
            background-position: center
            height: 485px
            box-shadow: 0px 6px 18px rgba(0,0,0,0.25)

            &_amount
                top: 230px
                left: 140px
                width: 45%
                padding-left: 5px !important

            &_btn
                top: 345px
                left: 80px

            &_cashback
                width: 40%
                position: absolute
                top: 87%
                left: 53%
                height: 44px
                color: #CBCBCB
                border: 2px solid #CBCBCB
                background: $white
                text-align: center
                font-size: 34px
                overflow: hidden
                padding-left: .3em

    
    
@media (max-width: 1200px)


    .header

        .header-img

            img
                top: 110px
                left: -24px
                transform: scale(1.7)

