.seller-categories
    background: url(../img/seller-categories-bg.jpg) no-repeat center
    min-height: 790px
    background-size: cover

    .slick-dots
        text-align: center
        padding-top: 50px
        li
            display: inline-block
            margin: 0px 5px
        
            button
                width: 26px
                height: 26px
                border-radius: 100%
                border: 2px solid #C4C4C4
                background: $white
                font-size: 0px
        .slick-active
            button
                background: #C4C4C4
                


    h2
        margin-top: 0px

    &_item
        text-align: center
        font-size: 30px
        font-weight: 300
        height: 130px
        position: relative
        margin-bottom: 30px

        svg
           position: absolute
           top: 30%
           left: 50%
           transform: translate(-50%,-50%)
        &_title
            position: absolute
            bottom: 0
            left: 50%
            transform: translateX(-50%)
            white-space: nowrap
            
            
