.seller-categories
    background: url(../img/svg_bg/seller-categories-bg.svg) no-repeat center
    min-height: 800px
    background-size: cover
    padding-top: 30px

    
                


    h2
        margin-top: 0px
        

    &_item
        text-align: center
        font-size: 30px
        font-weight: 300
        height: 135px
        position: relative
        margin-bottom: 30px
        border-radius: 20px
        padding-top: 10px

        &:hover
            svg
                transform: scale(1.07) translate(-50%,-50%)
            
                
            
                


        svg
           position: absolute
           top: 35%
           left: 50%
           transform: translate(-50%,-50%)
           transition: .3s
           display: inline-block
           transform-origin: top left
        &_title
            position: absolute
            bottom: 0
            left: 50%
            transform: translateX(-50%)
            white-space: nowrap
            
            
