ul
    padding: 0
    margin: 0 
li
    list-style: none

a
    text-decoration: none
    cursor: pointer

button, input
    outline: none
    user-select: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    &:focus
        outline: none

body
    font-family: $main-font
    color: $black
    

h1, h2, h3, span, p
    letter-spacing: 0.06em
.container
    position: relative

// .btn-white
//     background: $white
//     color: $black
//     border: none
//     transition: .3s
//     padding: 1.5em 2.5em !important
//     position: relative
    
//     &:hover
//         box-shadow:  0em 0.5em 1em 0em rgba(0, 0, 0, 0.5)
//     &:active
//         box-shadow: none
    
    
//     &:before
//         content: ''
//         width: 120%
//         height: 150%
//         top: 50%
//         left: 50%
//         transform: translate(-50%,-50%)
//         position: absolute
//         border-radius: 4em
//         transition: 0.3s
//     &:active:before
//         box-shadow: inset 0em 0em 1em 0em rgba(0, 0, 0, 0.5) 
        
// .btn-orange
//     background: $dark-orange
//     color: $black
//     border: none
//     transition: .3s
//     padding: 1.5em 2.5em 
//     position: relative
//     &:hover
//         box-shadow:  0em 0.5em 1em 0em rgba(0, 0, 0, 0.5)
//     &:active
//         box-shadow: none
    
    
//     &:before
//         content: ''
//         width: 120%
//         height: 150%
//         top: 50%
//         left: 50%
//         transform: translate(-50%,-50%)
//         position: absolute
//         border-radius: 4em
//         transition: 0.3s
//     &:active:before
//         box-shadow: inset 0em 0em 1em 0em rgba(0, 0, 0, 0.5) 

.btn
    
    font-size: 15px
    font-weight: bold
    border-radius: 3em
    cursor: pointer
    display: inline-block

.title
    font-size: 60px
    line-height: 69px
    font-family: $second-font
    font-weight: bold
    position: relative


.text-center
    text-align: center
.text-right
    text-align: right

.btn-white
    background: $white
    color: $black
    border: none
    transition: .3s
    padding: 1.5em 2.5em !important
    position: relative
    
    &:hover
        box-shadow:  0em 0.5em 1em 0em rgba(0, 0, 0, 0.5), inset 0em 0em 0em 0em rgba(0, 0, 0, 0)
    &:active
        box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0), inset 0em 0em 0.6em 0.3em rgba(0, 0, 0, 0.5)
    
.btn-orange
    background: $dark-orange
    color: $black
    border: none
    transition: .3s
    padding: 1.5em 2.5em 
    position: relative
    &:hover
        box-shadow:  0em 0.5em 1em 0em rgba(0, 0, 0, 0.5), inset 0em 0em 0em 0em rgba(0, 0, 0, 0)
    &:active
        box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0), inset 0em 0em 0.6em 0.3em rgba(0, 0, 0, 0.5)