.what-is-it
    padding-top: 50px
    padding-bottom: 50px
    position: relative
    background: #fff
    margin-top: -1px

    &_img
        
        width: 100%
        padding-left: 30px

        &_wrapper
            display: none

    &_title
        text-align: right
        font-family: $second-font
        font-weight: bold
        font-size: 60px
        margin: 0
        
        span:nth-child(2)
            color: $yellow

        span:nth-child(3)
            color: $orange
        
    &_description
        text-align: right
        font-weight: 300
        line-height: 40px
        padding-left: 50px