@import "vars"


@media (max-width: 992px)

    .nav-btn_wrapper
        margin-top:  30px
        margin-bottom: 30px
        margin-left: 0px !important
        display: inline-block
    nav
        padding-top: 80px !important
        ul
            flex-direction: column