@import "vars"


@media (max-width: 992px)

    .nav-btn_wrapper
        margin-top:  30px
        margin-bottom: 30px
        margin-left: 0px !important
        

    .nav
        padding-right: 0 !important
        
        ul
            flex-direction: column

    .step-item_wrapper
        margin: 0px !important
    
    .product-description
        font-size: 22px
        height: auto !important




@media (max-width: 425px)

    .social-icon

        a
            margin: 10px 5px !important

    .mail
        font-size: 18px !important
        padding: 20px 5px !important

    .tel
        font-size: 18px !important

    .step-item

        a
            padding: 0.2em 0.8em !important
            font-size: 18px !important

    .steps-description
        font-size: 22px !important
    




@media (max-width: 1200px)
    .h-img
        left: -200px !important




@media (min-width: 2000px)
    .right-img
        width: 550px !important