@import "media"
@import "vars"
@import "hamburger"
@import "header"
@import "product"
@import "steps"
@import "footer"

body
    margin: 0
    font-family: $font
    overflow-x: hidden

a
    text-decoration: none

button, input
    outline: none

li
    list-style: none
    padding: 0
    margin: 0
    
ul
    padding: 0
    margin: 0

