#top-nav {
  width: 100%;
  background-color: #fafafa; }
  #top-nav .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #top-nav .container .reg {
      padding-right: 0px;
      position: relative; }
      #top-nav .container .reg:after {
        content: "";
        height: 1em;
        width: 1px;
        background-color: #8b8b8b;
        position: absolute;
        top: 50%;
        left: -22px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    #top-nav .container li {
      padding: 20px 45px 20px 0px; }
    #top-nav .container a {
      color: #8b8b8b; }

.popup-bac {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 1000;
  display: none; }
  .popup-bac form {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 60px 60px 30px 60px;
    border-radius: 10px; }
    .popup-bac form .button-wrapper {
      text-align: center; }
      .popup-bac form .button-wrapper .button {
        padding: 1em 3.5em;
        background-color: #f52f32;
        border: none;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 0.2em;
        cursor: pointer; }
    .popup-bac form .hide-popup {
      position: absolute;
      right: 20px;
      top: 15px;
      width: 20px;
      height: 20px; }
      .popup-bac form .hide-popup:after {
        content: "";
        width: 2px;
        height: 15px;
        background-color: #8b8b8b;
        right: 45%;
        bottom: 15%;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .popup-bac form .hide-popup:before {
        content: "";
        width: 2px;
        height: 15px;
        background-color: #8b8b8b;
        right: 45%;
        bottom: 15%;
        position: absolute;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg); }
    .popup-bac form .form-item {
      margin-bottom: 20px; }
      .popup-bac form .form-item:last-child {
        margin-bottom: 0; }
      .popup-bac form .form-item label {
        font-weight: 500;
        display: inline-block;
        margin-bottom: .5em; }
    .popup-bac form input {
      height: 50px;
      display: block;
      width: 100%;
      background-color: #fafafa;
      border: none;
      border-radius: 0.5em;
      padding: 1em;
      -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
      font-size: 16px; }
    .popup-bac form textarea {
      display: block;
      resize: none;
      width: 100%;
      height: 200px;
      background-color: #fafafa;
      border: none;
      border-radius: 10px;
      padding: 20px;
      -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
      overflow: auto; }
  .popup-bac .file-wrapper {
    margin-bottom: 30px !important; }
    .popup-bac .file-wrapper i {
      color: #f52f32;
      font-size: 20px; }
    .popup-bac .file-wrapper label {
      cursor: pointer;
      padding-left: 10px;
      margin-bottom: 0 !important; }
    .popup-bac .file-wrapper input {
      display: none; }
    .popup-bac .file-wrapper span {
      text-decoration: underline; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative; }

a {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea {
  outline: none; }

.block {
  padding: 30px;
  min-width: 200px; }

.row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.nav.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0px 13px 17px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 13px 17px -1px rgba(0, 0, 0, 0.4); }
  .nav.fixed .menu {
    padding: 20px; }
  .nav.fixed .hide {
    display: none; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.nav {
  background-color: #fff;
  width: 100%;
  height: 100px;
  top: -70px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.menu {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
  z-index: 500; }
  .menu li {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu li a {
      color: #000000; }

.logo {
  width: 120px;
  height: 50px;
  background: url(../img/logo.jpg) no-repeat center;
  background-size: 120px 50px;
  margin-right: 20px;
  display: block; }

.tel-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important; }
  .tel-mail .tel {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 6px; }
  .tel-mail .mail {
    color: #f52f32; }
    .tel-mail .mail:hover {
      text-decoration: underline; }

.popup-menu {
  visibility: hidden;
  position: absolute;
  top: 75px;
  left: 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.4);
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0; }
  .popup-menu:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 40%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-box-shadow: -5px -5px 11px -3px #dbdbdb;
    box-shadow: -5px -5px 11px -3px #dbdbdb;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    display: block; }
  .popup-menu .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    background: #fff; }
  .popup-menu_col {
    padding: 20px 40px; }
    .popup-menu_col li a {
      margin-bottom: 10px;
      display: inline-block; }

.menu li:hover > ul {
  visibility: visible;
  opacity: 1; }

.catalog {
  padding: 30px 0; }

.burger {
  margin-right: 10px;
  width: 20px;
  height: 1px;
  background-color: #f52f32;
  position: relative; }
  .burger:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 1px;
    background-color: #f52f32;
    display: inline-block;
    top: 5px; }
  .burger:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 1px;
    background-color: #f52f32;
    display: inline-block;
    top: -5px; }

.search {
  position: relative; }
  .search .find {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px; }
  .search input {
    width: 100%; }
