.saving

    background: url(../img/svg_bg/saving_bg.svg) no-repeat
    background-size: cover
    background-position: center
    
    
    z-index: 60
    padding-top: 15px
    min-height: 795px
    margin-top: -70px
    
    
    button
        z-index: 10

    &_title
        font-family: $second-font
        line-height: 48px
        font-size: 36px

        span
            text-transform: uppercase
            color: $orange

    &_content
        margin-top: 250px


.calc
    position: absolute
    width: 617px
    height: 919px
    left: -34px
    top: -168px
    background: url(../img/chek.png) no-repeat center

    z-index: 5
    background-size: 100%
    &_amount
        width: 32%
        position: absolute
        top: 60%
        right: 12%
        height: 70px
        border: 2px solid #CBCBCB
        font-size: 40px
        color: #CBCBCB
        padding-left: .3em
        padding-right: .3em
        
    &_wrapper
        position: relative
    &_btn
        position: absolute
        top: 75%
        right: 18%
    &_cashback
        width: 31%
        position: absolute
        top: 87%
        left: 65%
        height: 44px
        // color: #CBCBCB
        color: $orange
        border-bottom: 2px solid #CBCBCB
        text-align: center
        font-size: 34px
       
        font-weight: 600
    .in-a-year
        position: absolute
        bottom: 53px
        right: 255px
        

