@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Regular.eot');
	src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
		url('../fonts/SanFrancisco/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SanFrancisco/SFUIDisplay-Regular.woff') format('woff'),
		url('../fonts/SanFrancisco/SFUIDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Light.eot');
	src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
		url('../fonts/SanFrancisco/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SanFrancisco/SFUIDisplay-Light.woff') format('woff'),
		url('../fonts/SanFrancisco/SFUIDisplay-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Thin.eot');
	src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
		url('../fonts/SanFrancisco/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SanFrancisco/SFUIDisplay-Thin.woff') format('woff'),
		url('../fonts/SanFrancisco/SFUIDisplay-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Semibold.eot');
	src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
		url('../fonts/SanFrancisco/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SanFrancisco/SFUIDisplay-Semibold.woff') format('woff'),
		url('../fonts/SanFrancisco/SFUIDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Bold.eot');
	src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
		url('../fonts/SanFrancisco/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SanFrancisco/SFUIDisplay-Bold.woff') format('woff'),
		url('../fonts/SanFrancisco/SFUIDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}







@font-face {
    font-family: 'inglobal';
    src: url('../fonts/Inglobal/inglobal.eot');
    src: url('../fonts/Inglobal/inglobal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inglobal/inglobal.woff2') format('woff2'),
        url('../fonts/Inglobal/inglobal.woff') format('woff'),
        url('../fonts/Inglobal/inglobal.svg#inglobal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inglobal';
    src: url('../fonts/Inglobal/inglobal-Bold.eot');
    src: url('../fonts/Inglobal/inglobal-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inglobal/inglobal-Bold.woff2') format('woff2'),
        url('../fonts/Inglobal/inglobal-Bold.woff') format('woff'),
        url('../fonts/Inglobal/inglobal-Bold.svg#inglobal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

